span.createchennel :hover{
    color: #02f7759e;
    box-shadow: 0px 0px 0px 1px;
}
// .cchannel {
//     padding: 6px 32px;
//     font-weight: 500;
// }

.uploadmain.row {
    margin: 20px 21px;
}
label.labelofvideo.mb-1 {
    font-size: 13px;
    font-weight: 600;
}
.livestream {
    height: 711px;
}
._3Sxu7 {
    // overflow: hidden scroll;
    display: flex;
    flex: 1 1 1 !important;
    flex-direction: column;
}